/node_modules/
/node_modules_cache/
/test-results.xml
/target/
/.settings
/.classpath
/.project
/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
/.tern-project
/test-results/
/junit.xml
/test-result.xml
/.externalToolBuilders/
